POSTGRES_PASSWORD=changeme
PG_HOST=postgres
PG_PORT=5432
PG_DATABASE=postgres
PG_USER=derivzero
PG_PASSWORD=changeme
PG_APP_PASSWORD=changeme

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FRED_API_KEY=
