# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environment files
.env
env/
venv/
.venv/

# secrets
.keys/
*.pem
*.p8

# streamlit secrets
.streamlit/
*.toml

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Data and Output
data/**/*.csv
output/**/*
intermediate/**/*
*.log

# OS junk
.DS_Store
Thumbs.db

# data objects 
*.csv
*.xlsx
*.png
*.jpg
!dev_env/app/tab0/dz_logo.jpg
